<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.invoicer.fswatch</string> <!-- org.mongodb.mongodb perhaps? -->
        <key>OnDemand</key>
        <false/>
        <key>UserName</key>
        <string>anAppropriateUser</string>
        <key>GroupName</key>
        <string>anAppropriateGroup</string>
        <key>ProgramArguments</key>
        <array>
                <string>.fswatch-start</string>
                <string>--dbpath</string>
                <string>/usr/local/mongo/data</string>
                <string>--fork</string>
                <string>--logpath</string>
                <string>/usr/local/mongo/log</string>
        </array>
    </dict>
</plist>